---
import dayjs from 'dayjs';
import type {Dayjs} from 'dayjs';
import type {DiaryItem} from '@/libs/notion';
import Link from '@/components/ui/Link.astro';
import Icon from '@/components/ui/Icon.astro';
import PostTags from './PostTags.astro';

interface Props {
    diary: DiaryItem;
}

const { diary } = Astro.props;

const date: Dayjs = dayjs(diary.date);
---
<article class='article rounded-xl p-3.5 bg-zinc-600/5 dark:bg-zinc-500/20'>
    <PostTags class="mb-2" tags={diary.tags} />
    <div class="flex items-end justify-between">
        <div class="text-left">
            <p class="text-xl font-bold"><Link href={`/posts/${diary.name}`}>{diary.title}</Link></p>
        </div>
        <div>
            <p class="text-gray-800 text-xs text-right dark:text-gray-300">
                <Icon name='time'/>
                <span>&nbsp;</span>
                <time date-time={date.toString()}>{date.format('YYYY-MM-DD')}</time>
            </p>
        </div>
    </div>
</article>
