---
import type {DiaryItem} from '@/libs/notion';
import Link from '@/components/ui/Link.astro';
import DateTime from '@/components/diary/DateTime.astro';
import PostTags from './PostTags.astro';

interface Props {
    diary: DiaryItem;
}

const { diary } = Astro.props;
---
<article class='article rounded-xl p-3.5 bg-zinc-600/5 dark:bg-zinc-500/20'>
    <PostTags class="mb-2" tags={diary.tags} />
    <div class="flex items-end justify-between">
        <div class="text-left">
            <p class="text-xl font-bold"><Link href={`/posts/${diary.name}`}>{diary.title}</Link></p>
        </div>
        <div>
            <DateTime date={diary.date} />
        </div>
    </div>
</article>
