---
import dayjs from 'dayjs';
import type {Dayjs} from 'dayjs';
import type {DiaryItem} from '@/libs/notion';
import Icon from '@/components/ui/Icon.astro';
import DiaryImages from './DiaryImages';
import NotionRender from '@/components/notion/NotionRender.astro';

interface Props {
    diary: DiaryItem;
}

const { diary } = Astro.props;

const date: Dayjs = dayjs(diary.date);
---
<article>
    <DiaryImages className="my-3" images={diary.images} client:visible />
    <NotionRender id={diary.id} />
    <p class="text-gray-800 text-xs text-right dark:text-gray-300">
        <Icon name='time'/>
        <span>&nbsp;</span>
        <time date-time={date.toString()}>{date.format('YYYY-MM-DD')}</time>
    </p>
</article>
