---
import type {DiaryItem} from '@/libs/notion';
import Link from '@/components/ui/Link.astro';
import DateTime from './DateTime.astro';
import DiaryImages from './DiaryImages';
import NotionRender from '@/components/notion/NotionRender.astro';

interface Props {
    diary: DiaryItem;
}

const { diary } = Astro.props;
---
<article class='article rounded-xl p-3.5 bg-zinc-600/5 dark:bg-zinc-500/20'>
    <DiaryImages className="mb-3" images={diary.images} client:visible />
    <NotionRender id={diary.id} />
    <div class="flex items-center justify-between">
        <div class="text-gray-800 text-xs text-left dark:text-gray-300">
            <p><Link href={`/diary/${diary.name}`}>Read More.</Link></p>
        </div>
        <div>
            <DateTime date={diary.date} />
        </div>
    </div>
</article>

<style>
.article {
    width: fit-content;
    max-width: 100%;
}
</style>
